.create {
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 1.4rem;
    border: 0.3rem solid white;
    border-radius: 1.8rem;
    background-color: #E0CDA5;
    color: #37332A;
    cursor: pointer;
    transition: all 0.5s linear;
}

.create:hover {
    background-color: #37332A;
    color: #E0CDA5;
    border-color: #7D0293
}

@media screen and (min-width:391px) {
    .container-login {
        padding: 3rem 3.5rem;
    }
}

@media screen and (min-width:700px) {
    .container-login {
        padding: 4rem 4.5rem;
    }
}