<section class="flex flex-column flex-align-center margin-vertical border-bottom-beige text-justify">
    <button routerLink="/" class="margin-vertical"> <i class="fa-solid fa-arrow-left-long"></i> Revenir à
        l'accueil</button>
    <h2 class="adaptative-size margin-vertical">Mentions légales</h2>
    <h3 class="adaptative-size margin-vertical">Nom du Projet</h3>
    <p class="text-color-white adaptative-size container-paragraph margin-vertical ">Have Fuun!</p>

    <h3 class="adaptative-size margin-vertical">École ou Institution</h3>
    <p class="text-color-white adaptative-size container-paragraph margin-vertical ">3WA</p>

    <h3 class="adaptative-size margin-vertical">Adresse de l'École ou de l'Institution</h3>
    <p class="text-color-white adaptative-size container-paragraph margin-vertical ">46 rue René Clair, Paris</p>

    <h3 class="adaptative-size margin-vertical">Responsable de la Publication</h3>
    <p class="text-color-white adaptative-size container-paragraph margin-vertical ">Bélard</p>
    <p class="text-color-white adaptative-size container-paragraph margin-vertical ">Étudiant en [Votre Filière]</p>
    <p class="text-color-white adaptative-size container-paragraph margin-vertical ">[Votre Adresse Email de Contact]
    </p>

    <h3 class="adaptative-size margin-vertical">Contact Email</h3>
    <p class="text-color-white adaptative-size container-paragraph margin-vertical ">maxime.belard&#64;3wa.io</p>

    <h3 class="adaptative-size margin-vertical">Hébergeur du Site</h3>
    <p class="text-color-white adaptative-size container-paragraph margin-vertical ">[Nom de l'Hébergeur]</p>
    <p class="text-color-white adaptative-size container-paragraph margin-vertical  ">[Adresse de l'Hébergeur]</p>
    <p class="text-color-white adaptative-size container-paragraph margin-vertical ">[Numéro de Téléphone de
        l'Hébergeur]</p>
    <p class="text-color-white adaptative-size container-paragraph margin-vertical ">[Adresse Email de l'Hébergeur]</p>

    <h3 class="adaptative-size margin-vertical">Propriété Intellectuelle</h3>
    <p class="text-color-white adaptative-size container-paragraph margin-vertical ">Le contenu de ce site (textes,
        images, vidéos, etc.)
        est protégé par les
        lois en vigueur
        sur la propriété
        intellectuelle. Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des
        éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite
        préalable.</p>

    <h3 class="adaptative-size margin-vertical">Responsabilité</h3>
    <p class="text-color-white adaptative-size container-paragraph margin-vertical ">Le responsable de la publication
        s'efforce de
        fournir des informations
        aussi précises
        que possible. Toutefois, il
        ne pourra être tenu responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu'elles
        soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>

    <h3 class="adaptative-size margin-vertical">Utilisation des Données Personnelles</h3>
    <p class="text-color-white adaptative-size container-paragraph margin-vertical ">Les données personnelles collectées
        sur ce site sont
        uniquement
        destinées à une
        utilisation académique et ne
        seront ni vendues, ni échangées, ni transférées à des tiers, sauf obligation légale.</p>

    <h3 class="adaptative-size margin-vertical">Liens Hypertextes</h3>
    <p class="text-color-white adaptative-size container-paragraph margin-vertical ">Ce site peut contenir des liens
        hypertextes vers
        d'autres sites.
        Cependant, nous n'avons
        pas la possibilité de
        vérifier le contenu des sites ainsi visités, et n'assumerons en conséquence aucune responsabilité de ce fait.
    </p>
</section>