<header class="flex flex-column flex-align-center">
    <div class="flex flex-justify-between flex-align-center container">
        <div class="flex flex-align-center pointer" routerLink="/">
            <img src="../../../../assets/public/Have_Fuun_Doggo.webp" alt="Logo du site, chien dans une borne de jeu"
                class="logo-image" id="dog">
            <h1 class="large-size text-capitalize ">have fuun!</h1>
        </div>
        @if (isAuth) {
        <nav class="flex flex-align-center">
            <a routerLink="/" href=""><i class="fa-solid fa-house text-color-purple large-size pointer"></i>
            </a>
            <a class="pointer adaptative-size text-color-white text-bold text-capitalize margin-horizontal"
                routerLink="/profil">profil</a>
            <a (click)="logout()" href=""> <i
                    class="fa-solid fa-power-off margin-right text-color-purple large-size pointer"></i>
            </a>
        </nav>
        }
        @else {
        <nav class="flex flex-align-center">
            <a href="" routerLink="/"><i class="fa-solid fa-house text-color-purple large-size pointer"></i></a>
            <i (click)="displayModal()"
                class="fa-solid fa-user margin-horizontal text-color-purple large-size pointer"></i>
        </nav>
        }

    </div>
    @if(displayLogIn) {
    <app-login (displaySignInChange)="display($event)" (displaySignUpChange)="startDisplaySignUp($event)"></app-login>
    }

    @if(displaySignUp) {
    <app-sign-up (displaySignUpChange)="startDisplaySignUp($event)"></app-sign-up>
    }

</header>