<footer class="flex flex-column-change flex-justify-around flex-align-center margin-vertical">
    <div class="flex flex-column flex-align-center">
        <p class="text-bold adaptative-size text-color-beige">Nos réseaux sociaux</p>
        <div>
            <a aria-label="Lien pour facebook" class="pointer large-size" href="https://www.facebook.com/?locale=fr_FR">
                <i class="fa-brands fa-facebook" style="color: #74C0FC;"></i></a>
            <a aria-label="Lien pour twitter" class="pointer margin-horizontal large-size"
                href="https://twitter.com/?lang=fr"> <i
                    class="fa-brands fa-x-twitter margin-vertical text-color-beige"></i></a>
            <a aria-label="Lien pour reddit" class="pointer large-size" href="https://www.reddit.com/"> <i
                    class="fa-brands fa-reddit-alien" style="color: #cb0606;"></i></a>
        </div>
    </div>
    <div class="flex flex-column flex-align-center">
        <p class="text-bold adaptative-size text-color-beige margin-bottom">Informations légales</p>
        <a class="text-bold block text-uppercase text-color-beige text-bold pointer small-size border-bottom-beige"
            href="">à
            propos
            de nous ?</a>
        <a class="text-bold block text-uppercase text-color-beige text-bold pointer margin-vertical small-size border-bottom-beige"
            href="">Politiques de
            confidentialités</a>
        <a class="text-bold block text-uppercase text-color-beige text-bold pointer small-size border-bottom-beige"
            routerLink="/legal-notice">Mentions
            légales</a>
        <a class="text-bold block text-uppercase text-color-beige text-bold pointer small-size border-bottom-beige margin-vertical"
            routerLink="/contact">Contactez-nous</a>
    </div>
    <div class="">
        <img class="logo-image margin-top" src="../../../../assets/public/Have_Fuun_Logo.webp"
            alt="Logo du site HaveFuun (cercle coloré avec le nom du site au centre)">
    </div>

</footer>