table {
    width: 90%;
    border-collapse: collapse;
    margin: 2rem 0;
    text-align: center;
}

thead {
    background-color: #F1F1F1;
    color: #E0CDA5;
}

thead th {
    padding: 0.25rem;
    border: 0.1rem solid #E0CDA5;
}

tbody {
    background-color: #E0CDA5;
}

tbody tr:nth-child(even) {
    background-color: #f4f0e0;
}

tbody td {
    padding: 0.25rem;
    border: 0.1rem solid #37332A;
}

tr:hover {
    background-color: #d4c495;
}

td {
    color: #37332A;
}