<section class="flex flex-column flex-align-center">
    @if(display === "home") {
    <h2 class="medium-size  text-center margin-bottom">Bonjour utilisateur : {{user.pseudo}}</h2>
    <div class="container-home flex flex-column flex-justify-between flex-align-center">
        <p class="container-paragraph adaptative-size text-justify text-color-white">
            Vous êtes sur votre page de profil, ou vous pouvez librement,
            voir les résultats de vos formulaires, ou les commentaires que vous avez écris.
            Sans oublier la possibilité d'à la fois modifié et supprimer votre compte.
            En vous souhaitant un bon moment sur notre site.
        </p>


        <article class="flex flex-column  margin-vertical">
            <h3 class="adaptative-size  margin-vertical">Vos données personnelles :</h3>
            <p class="adaptative-size text-color-white">Votre pseudo : {{user.pseudo}}</p>
            <p class="adaptative-size text-color-white">Votre email : {{user.email}}</p>
            <div class="flex flex-align-center">
                <p class="adaptative-size text-color-white">Votre avatar : </p>
                <img class="margin logo-image" [src]="user.avatar" alt="avatar de profil">
            </div>
            <button class="margin-vertical" (click)="switchDisplay('editUser')">Modifier vos données ? <i
                    class="adaptative-size pointer text-color-purple fa-solid fa-pen-to-square"></i></button>
            <button class="margin-vertical" (click)="deleteUser()">Supprimer votre compte ? <i
                    class="adaptative-size pointer text-color-purple fa-solid fa-trash"></i></button>
        </article>
        <article class="flex flex-column flex-align-center margin-vertical">
            @if(comments.length>0) {
            <h3 class="adaptative-size ">Voici tout les commentaires que vous avez réalisés :</h3>
            <table class="small-size">
                <thead>
                    <tr>
                        <td>Contenue du commentaire</td>
                        <td>Nom de l'article</td>
                        <td>Modifier le commentaire</td>
                        <td>Supprimer le commentaire</td>
                    </tr>
                </thead>
                <tbody>
                    @for(comment of comments ; track comment ; let index =$index) {
                    <tr>
                        <td>{{ comment.content }}</td>
                        <td>{{ comment.name }}</td>
                        <td><i (click)="switchDisplay('editComment', comment.ID_comment, index, comment.content)"
                                class="adaptative-size pointer text-color-purple fa-solid fa-pen-to-square"></i></td>
                        <td><i (click)="switchDisplay('deleteComment',comment.ID_comment, index)"
                                class="adaptative-size pointer text-color-purple fa-solid fa-delete-left"></i></td>
                    </tr>
                    }
                </tbody>
            </table>
            } @else {
            <h3 class="adaptative-size margin-vertical">Vous n'avez pas encore écris de commentaires
            </h3>
            }
        </article>
        <article class="flex flex-column flex-align-center margin-vertical">
            @if(forms.length>0) {
            <h3 class="adaptative-size text-color-beige">Voici tout les résultats de formulaires que vous avez fait :
            </h3>
            <table class="medium-size">
                <thead>
                    <tr>
                        <td>Notes d'absurdes</td>
                        <td>Nom du formulaire</td>
                    </tr>
                </thead>
                <tbody>
                    @for(results of forms ; track results) {
                    <tr>
                        <td>{{ results.result }} / 16</td>
                        <td>{{ results.name }}</td>
                    </tr>
                    }
                </tbody>
            </table>
            } @else {
            <h3 class="adaptative-size ">Vous n'avez encore répondu à aucun formulaire</h3>
            }


        </article>
    </div>
    } @else if (display === 'editComment') {
    <article class="flex flex-column flex-align-center margin-vertical">
        <button class="margin-vertical" (click)="switchDisplay('home')"> <i class="fa-solid fa-arrow-left-long"></i>
            Revenir avant
        </button>
        <h3 class="adaptative-size ">Modifier votre commentaire</h3>
        <form class="container-form-comment flex flex-column flex-align-center margin-vertical"
            [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <div class='container flex flex-column flex-align-center margin-bottom'>
                <label class="adaptative-size text-color-white" for="commentaire">Écrivez votre commentaire</label>
                <textarea class="border-radius padding container-home" formControlName="comment" id="commentaire"
                    name="commentaire" rows="5"></textarea>
            </div>

            <div class="margin-bottom">
                <button [disabled]="!commentForm.valid" class=" text-uppercase text-bold"
                    aria-label="Modifié  votre commentaire" type="submit">Modifié votre commentaire</button>
            </div>
            @if (sendMessage !== "" ) {
            <p class="message text-center text-bold" [ngClass]="messageBool ? 'text-color-green' : 'text-color-red '">{{
                sendMessage }}
            </p>
            }
        </form>
    </article>

    } @else if (display === 'editUser') {
    <article class="flex flex-column flex-align-center margin-vertical">
        <button class="" (click)="switchDisplay('home')"> <i class="fa-solid fa-arrow-left-long"></i>
            Revenir avant
        </button>
        <h3 class="adaptative-size  margin-vertical">Modifier vos données</h3>
        <form class="flex flex-column margin" [formGroup]="userForm" (ngSubmit)="onSubmitUser()">
            <div class="margin-bottom flex flex-column flex-justify-between">
                <label class="text-color-white medium-size" for="pseudo"
                    aria-label="Saisissez votre pseudo">Pseudo:*</label>
                <input class="field" type="text" id="pseudo" formControlName="pseudo">
            </div>
            <div class="margin-bottom flex flex-column flex-justify-between">
                <label class="text-color-white medium-size" for="email"
                    aria-label="Saisissez votre email">Email:*</label>
                <input class="field" type="text" id="email" formControlName="email">
            </div>
            <div class="margin-bottom flex flex-column flex-justify-between">
                <label class="text-color-white medium-size" for="password" aria-label="Saisissez un mot de passe">Mot de
                    passe:*</label>
                <input class="field margin-bottom" type="password" id="password" formControlName="password"
                    (input)="checkPassword()">
                <ul class="margin-list no-padding adaptative-size">
                    <li [ngClass]="verifyArray.min === true ? 'text-color-green' : 'text-color-white'">Formé d'un
                        minimum
                        de 12 caractères</li>
                    <li [ngClass]="verifyArray.upper === true ? 'text-color-green' : 'text-color-white'">Au moins une
                        lettre majuscule</li>
                    <li [ngClass]="verifyArray.lower === true ? 'text-color-green' : 'text-color-white'">Au moins une
                        lettre minuscle</li>
                    <li [ngClass]="verifyArray.num === true ? 'text-color-green' : 'text-color-white'">Au moins un
                        chiffre
                    </li>
                    <li [ngClass]="verifyArray.special === true ? 'text-color-green' : 'text-color-white'">Au moins un
                        caractère spécial, parmi ceux-là : [#?!$%^&*-]</li>
                </ul>
            </div>
            <div class="margin-bottom flex flex-column flex-justify-between">
                <p class="medium-size text-color-white">Choisissez votre image d'avatar:</p>
                <div class="flex flex-wrap flex-justify-center">
                    @for(image of imageArray ; track image) {
                    <img [src]="image" alt="Avatar" (click)="selectAvatar(image)"
                        class="border-beige margin logo-image-form pointer"
                        [ngClass]="imageAvatar === image ? 'border-green' : ''">
                    }
                </div>
            </div>
            <div class="margin-bottom flex flex-justify-center">
                <button [disabled]="!userForm.valid" class=" text-uppercase text-bold"
                    aria-label="Bouton pour modifier son compte" type="submit">Modifier son compte</button>
            </div>
            @if (sendMessage !== "" ) {
            <p class="message text-center text-bold" [ngClass]="messageBool ? 'text-color-green' : 'text-color-red '">{{
                sendMessage }}
            </p>
            }
        </form>
    </article>
    }
</section>