<section class="flex flex-column flex-align-center">
    <h2 class="adaptative-size text-color-purple text-center margin-bottom">Voici le tableau de bord d'administration
    </h2>
    @if(display === "home") {
    <div class="flex flex-column flex-align-center">
        <button class="signin-button" (click)="displayUsers('users')">accéder aux informations des utilisateurs</button>
        <button class="signin-button" [routerLink]="['/admin/forms']">accéder aux informations des formulaires </button>
        <button class="signin-button" [routerLink]="['/admin/articles']">accéder aux informations des articles </button>
    </div>
    } @else {
    <article class="flex flex-column flex-align-center">
        <button class="signin-button" (click)="displayUsers('home')"><i class="fa-solid fa-arrow-left-long"></i>
            Revenir avant</button>
        <h3 class="adaptative-size text-color-purple">Tables des users</h3>
        <table class="adaptative-size">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>avatar</td>
                    <td>pseudo</td>
                    <td>email</td>
                    <td>Supprimer l'user</td>
                </tr>
            </thead>
            <tbody>
                @for(user of users ; track user) {
                <tr>
                    <td class="pointer" [routerLink]="'/admin/user/' + user.ID">{{ user.ID }}</td>
                    <td>{{ user.pseudo }}</td>
                    <td>{{ user.email }}</td>
                    <td><img class="logo-image-table" [src]="user.avatar" alt="avatar de l'user"></td>
                    <td><i (click)="deleteComment(user.ID)"
                            class="adaptative-size pointer text-color-purple fa-solid fa-delete-left"></i></td>
                </tr>
                }
            </tbody>
        </table>
    </article>
    }
</section>