@if(display ==="home") {
<section class="flex flex-column flex-align-center">
    <button class="margin-vertical" [routerLink]="['/admin']"><i class="fa-solid fa-arrow-left-long"></i>
        Revenir avant</button>
    <h2 class="medium-size text-color-purple text-center margin-bottom">Voici la page d'Articles d'administration</h2>
    <button class="margin-vertical" (click)="switchDisplay('addArticle')">Ajouter un article <i
            class="adaptative-size pointer text-color-purple fa-solid fa-plus border-purple"></i></button>
    @if(articles.length >0 ) {
    <h3 class="medium-size text-color-purple text-center margin-bottom">Voici la liste des articles :</h3>
    <div class="flex flex-column table-container flex-align-items-change">
        <table class="adaptative-size">
            <thead>
                <tr>
                    <td>ID_article</td>
                    <td>avatar</td>
                    <td>name</td>
                    <td>tags</td>
                    <td>description</td>
                    <td>modification</td>
                    <td>suppression</td>
                </tr>
            </thead>
            <tbody>
                @for(article of articles ; track article ; let index = $index) {
                <tr>
                    <td>{{ article.ID_article }}</td>
                    <td><img class="logo-image-table" [src]="'http://localhost:4912/'+article.avatar"
                            alt="avatar de l'article"></td>
                    <td>{{ article.name }}</td>
                    <td>{{ article.tags }}</td>
                    <td>{{ article.description }}</td>
                    <td><i (click)="switchDisplay('editArticle', article.ID_article, index)"
                            class="adaptative-size pointer text-color-purple fa-solid fa-pen-to-square"></i></td>
                    <td><i (click)="deleteArticle(article.ID_article)"
                            class="adaptative-size pointer text-color-purple fa-solid fa-delete-left"></i></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    } @else {
    <h3 class="medium-size text-color-purple text-center margin-bottom">Il n'y a pas d'articles</h3>
    }
</section>
} @else if (display==="editArticle") {
<section class="flex flex-column flex-align-center">
    <h2 class="medium-size text-color-purple text-center margin-bottom">Voici le formulaire de modification d'article
    </h2>
    <button class="" (click)="switchDisplay('home')"> <i class="fa-solid fa-arrow-left-long"></i> Revenir
        avant </button>
    <form class="container-form-comment flex flex-column flex-align-center margin-vertical"
        [formGroup]="editArticleForm" (ngSubmit)="onSubmitEdit()">
        <div class='flex flex-column flex-align-center margin-bottom'>
            <label class="medium-size" for="name">Nom ( titre ) :</label>
            <input class="field border-radius padding" type="text" formControlName="name" id="name">
        </div>
        <div class='flex flex-column flex-align-center margin-bottom'>
            <label class="medium-size" for="avatar">Chemin vers l'image :</label>
            <input class="field border-radius padding" type="text" formControlName="avatar" id="avatar">
        </div>
        <div class='flex flex-column flex-align-center margin-bottom'>
            <label class="medium-size" for="description">Description de l'article</label>
            <textarea class="container-home padding border-radius" formControlName="description" id="description"
                name="description" rows="5" cols="40"></textarea>
        </div>
        <div class='flex flex-column flex-align-center margin-bottom'>
            <label class="medium-size" for="tags">Tags : (ex : sucré, salé, etc)</label>
            <input class="field border-radius padding" type="text" formControlName="tags" id="tags">
        </div>
        <div class="margin-bottom">
            <button class=" text-uppercase text-bold" aria-label="Modifié de votre commentaire" type="submit">Modifié
                votre article</button>
        </div>
    </form>
</section>
} @else if (display==="addArticle") {
<section class="flex flex-column flex-align-center">
    <h2 class="medium-size text-color-purple text-center margin-vertical">Voici le formulaire d'ajout d'article</h2>
    <button class="margin-vertical" (click)="switchDisplay('home')"> <i class="fa-solid fa-arrow-left-long"></i> Revenir
        avant </button>
    <form class="container-form-comment flex flex-column flex-align-center margin-vertical" [formGroup]="addArticleForm"
        (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class='flex flex-column flex-align-center margin-bottom'>
            <label class="medium-size" for="commentaire">Nom ( titre ) :</label>
            <input class="field border-radius padding" type="text" formControlName="name" id="commentaire">
        </div>
        <div class='flex flex-column flex-align-center margin-bottom'>
            <label class="medium-size" for="avatar">Image :</label>
            <input class="field border-radius padding" type="file" (change)="onFileChange($event)" id="avatar"
                name="avatar">
        </div>
        <div class='flex flex-column flex-align-center margin-bottom'>
            <label class="medium-size" for="description">Description de l'article</label>
            <textarea class="border-radius padding container-home" formControlName="description" id="description"
                name="description" rows="5" cols="40"></textarea>
        </div>
        <div class='flex flex-column flex-align-center margin-bottom'>
            <label class="medium-size" for="tags">Tags : (ex : sucré, salé, etc)</label>
            <input class="field border-radius padding" type="text" formControlName="tags" id="tags">
        </div>
        <div class="margin-bottom">
            <button [disabled]="!addArticleForm.valid" class=" text-uppercase text-bold"
                aria-label="Modifié de votre commentaire" type="submit">Ajouter votre article</button>
        </div>
    </form>
</section>
}