* {
    margin: 0;
    font-family: Montserrat, sans-serif;
}

html {
    font-size: 62.5%; // le font-size est à 10 px maintenant par défaut donc en faisant 1.2rem on obtient 12px
    box-sizing: content-box;
}

i {
    color: #7D0293;
}

body {
    background-image: radial-gradient(circle at 93% 71%, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 80% 77%, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 26% 66%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 57% 92%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 87% 50%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 37% 43%, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 20% 80%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 96% 20%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 98% 99%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 83% 86%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 54% 28%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 40% 66%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 87% 26%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 39% 24%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 21% 9%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 61% 29%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 58% 19%, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 5%, transparent 5%, transparent 100%), linear-gradient(0deg, hsla(321, 0%, 14%, 1), hsla(306, 0%, 14%, 1));
}

img:not(#dog, #logo-footer) {
    border: 0.5rem solid #7D0293;
}

@font-face {
    font-family: 'DelaGoth';
    src: url('./assets/fonts/DelaGothicOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

a:active {
    color: #E0CDA5;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Delagoth', sans-serif;
    font-weight: 100;
    color: #E0CDA5;
}

section:not(#login):not(#sign-up) {
    min-height: 70vh;
}

// DISPLAY

.none {
    display: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

// POSITION ; Z-INDEX

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

// WIDTH ; HEIGHT 

.container {
    width: 100%;
}

.container-home,
.container-article,
.container-nav,
.container-form-comment {
    width: 95%;
}

.container-form {
    width: 75%;
}

.container-paragraph,
.container-comment,
.container-paragraph-article {
    width: 25rem;
}

.max-width {
    max-width: 100%;
}

.half-width {
    max-width: 50%;
}

.half-height {
    max-height: 50%;
}

.quarter-width {
    max-height: 25%;
}

.quarter-height {
    max-height: 25%;
}

.logo-image {
    max-width: 10rem;
}

.logo-image-table,
.logo-image-form {
    max-width: 5rem;
}

.logo-image-home {
    max-width: 25rem;
}

.field {
    width: 100%;
    padding: 0.75rem 0;
    border-radius: 0.5rem;
    border: 0.1rem solid #ccc;
}

// MARGIN PADDING 

.no-margin {
    margin: 0;
}

.margin-vertical {
    margin: 1rem 0;
}

.margin-horizontal {
    margin: 0 1rem;
}

.small-margin-top {
    margin-top: 0.5rem;
}

.margin-top {
    margin-top: 1.5rem;
}

.margin-bottom {
    margin-bottom: 1.5rem;
}

.small-margin-left {
    margin-left: 0.5rem;
}

.margin-left {
    margin-left: 1.5rem;
}

.margin-right {
    margin-right: 1.5rem;
}

.margin,
.adaptative-margin {
    margin: 1rem;
}

.small-margin-left {
    margin-left: 0.2rem;
}

.margin-list {
    margin: 1rem 1rem 0 2rem;
}

.no-padding {
    padding: 0;
}

.padding-vertical {
    padding: 1rem 0;
}

.padding-horizontal {
    padding: 0 1rem;
}

.padding,
.adaptative-padding {
    padding: 1rem;
}

// FLEX 

.flex-column,
.flex-column-change,
.flex-column-change-reverse {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-justify-around {
    justify-content: space-around;
}

.flex-justify-evenly {
    justify-content: space-evenly;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-align-left {
    align-items: left;
}

// TAILLES ; COULEURS ; STYLES DE TEXTES

.text-color-gray {
    color: #37332A;
}

.text-color-beige {
    color: #E0CDA5;
}

.text-color-white {
    color: #f1f0f1;
}

.text-color-purple {
    color: #7D0293;
}

.text-color-green {
    color: green;
}

.text-color-red {
    color: rgb(169, 16, 16);
}

.background-color {
    background-color: #F1F1F1;
}

.background-color-button {
    background-color: #E0CDA5;
}

.background-color-button-two {
    background-color: #7D0293;
}

.pâtisserie {
    background-color: #F49AA9;
}

.sucrerie {
    background-color: #FAD0D5;
}

.chaise {
    background-color: beige;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.label-size {
    font-size: 1.2rem;
}

.small-size {
    font-size: 1.2rem;
}

.medium-size {
    font-size: 1.8rem;
}

.large-size {
    font-size: 2.4rem;
}

.adaptative-size {
    font-size: 1.6rem;
}

.text-bold {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-decoration-none {
    text-decoration: none;
}

// BORDER


.border-radius {
    border-radius: 2rem;
}

.border-bottom-beige {
    border-bottom: 0.1rem solid #E0CDA5;
}

.border-beige {
    border: 0.5rem solid #E0CDA5;
}

.border-green {
    border: 0.5rem solid green !important;
    border-radius: 1rem;
}

.border-purple {
    border: 0.1rem solid #7D0293;
    border-radius: 50%;
}

.logo-image,
.logo-image-form,
.logo-image-home,
.logo-image-table {
    border-radius: 2rem;
}

// TABLES

.table-container {
    max-width: 95%;
    overflow-x: scroll;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 2rem 0;
    text-align: center;
}

thead {
    background-color: #F1F1F1;
    color: #E0CDA5;
}

thead th {
    padding: 0.25rem;
    border: 0.1rem solid #E0CDA5;
}

tbody {
    background-color: #E0CDA5;
}

tbody tr:nth-child(even) {
    background-color: #f4f0e0;
}

tbody td {
    padding: 0.25rem;
    border: 0.1rem solid #37332A;
}

tr:hover {
    background-color: #d4c495;
}

td {
    color: #37332A;
}

// BOUTONS 

button {
    cursor: pointer;
    padding: 1rem 5rem;
    font-size: 1.4rem;
    border: 0.3rem solid #7D0293;
    border-radius: 1.8rem;
    background-color: #E0CDA5;
    color: #37332A;
    transition: all 0.5s linear;
    box-shadow: 0.4rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.1);
}

.pointer {
    cursor: pointer;
}


.signin-button {
    width: 100%;
    padding: 0.5rem 1rem
}

.signin-button:hover,
button:hover {
    background-color: #37332A;
    color: #E0CDA5;
    border-color: #ffffff;
}

// ICONES
.icon-image-click-pair,
.icon-image-click-impair {
    top: -1.2rem;
    padding: 0.5rem;
    background-color: #f1f0f1;
    z-index: 21;
}

.icon-image-click-pair {
    left: -1.2rem;
}

.icon-image-click-impair {
    right: -1.2rem;
}

// SCROLLBAR 

::-webkit-scrollbar {
    width: 1rem;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #f1f0f1;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: #E0CDA5;
    border-radius: 0.2rem;

}

::-webkit-scrollbar-thumb:hover {
    background: #aa9b7bf6;
}

// ARTICLES - FORMS

.parent:hover .child {
    background-color: rgba(76, 67, 67, .9);
    border-radius: 2rem;
    color: white;
}

.parent:hover .border-child {
    margin: 2rem;
    border: 0.5rem solid white;
}

.child,
.border-child {
    font-size: 1.5rem;
    text-align: justify;
    position: absolute;
    padding: 3rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: transparent;
    transition: all 0.4s linear;
}


// LOGIN SIGN-UP

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 22;
    color: #37332A;
}

.dotWhite {
    display: block;
    width: 0.4rem;
    height: 0.15rem;
    background-color: #F1F1F1;
    margin: 0 0.25rem;
}

.container-auth {
    background-color: #E0CDA5;
    padding: 2rem 2.5rem;
    border-radius: 0.5rem;
}


// MESSAGES D'ERREURS ; VRAI

.message {
    font-size: 3rem;
}

@media screen and (min-width: 600px) {

    .adaptative-size {
        font-size: 1.8rem;
    }

    .adaptative-padding {
        padding: 1.5rem;
    }

    .adaptative-margin {
        margin: 1.5rem;
    }

    .flex-column-change {
        flex-direction: row;
    }

    .flex-column-change-reverse {
        flex-direction: row-reverse;
    }

    .container-paragraph {
        width: 45%;
    }

    .container-paragraph-article {
        width: 90%;
    }

    .logo-image-home {
        max-width: 30rem;
    }
}

@media screen and (min-width: 1024px) {

    .adaptative-size {
        font-size: 2rem;
    }

    .adaptative-padding {
        padding: 1.5rem;
    }

    .adaptative-margin {
        margin: 1.5rem;
    }

    .container-home,
    .container-paragraph-article {
        width: 75%;
    }

    .logo-image-home {
        max-width: 35rem;
    }

    .table-container {
        overflow-x: hidden;
    }

    .flex-align-items-change {
        align-items: center;
    }
}