* {
    margin: 0;
    font-family: Montserrat, sans-serif;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%; // le font-size est à 10 px maintenant par défaut donc en faisant 1.2rem on obtient 12px
    box-sizing: content-box;
}

section {
    background: linear-gradient(180deg, rgba(241, 240, 241, 1) 0%, rgba(255, 235, 205, 1) 50%, rgba(241, 240, 241, 1) 100%);
    min-height: 50vh
}

// DISPLAY

.none {
    display: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

// POSITION ; Z-INDEX

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

// WIDTH ; HEIGHT 

.container {
    width: 100%;
}

.container-home,
.container-nav,
.container-form-comment {
    width: 95%;
}

.max-width {
    max-width: 100%;
}

.half-width {
    max-width: 50%;
}

.half-height {
    max-height: 50%;
}

.quarter-width {
    max-height: 25%;
}

.quarter-height {
    max-height: 25%;
}

.logo-image {
    max-width: 10rem;
}

.logo-image-table {
    max-width: 5rem;
}

.logo-image-home {
    max-width: 25rem;
}

.logo-image-form {
    max-width: 5rem;
    border: 0.5rem solid #E0CDA5;
}

// MARGIN PADDING 

.no-margin {
    margin: 0;
}

.margin-vertical {
    margin: 1rem 0;
}

.margin-horizontal {
    margin: 0 1rem;
}

.small-margin-top {
    margin-top: 0.5rem;
}

.margin-top {
    margin-top: 1.5rem;
}

.margin-bottom {
    margin-bottom: 1.5rem;
}

.small-margin-left {
    margin-left: 0.5rem;
}

.margin-left {
    margin-left: 1.5rem;
}

.margin-right {
    margin-right: 1.5rem;
}

.margin,
.adaptative-margin {
    margin: 1rem;
}

.no-padding {
    padding: 0;
}

.padding-vertical {
    padding: 1rem 0;
}

.padding-horizontal {
    padding: 0 1rem;
}

.padding,
.adaptative-padding {
    padding: 1rem;
}

// FLEX 

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-justify-around {
    justify-content: space-around;
}

.flex-justify-evenly {
    justify-content: space-evenly;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-align-left {
    align-items: left;
}

// TAILLES ; COULEURS ; STYLES DE TEXTES
.error-message {
    color: red;
    text-align: center;
}

.text-color-gray {
    color: #37332A;
}

.text-color-beige {
    color: #E0CDA5;
}

.text-color-purple {
    color: #7D0293;
}

.text-color-green {
    color: green;
}

.text-color-red {
    color: red;
}

.background-color {
    background-color: #F1F1F1;
}

.background-color-button {
    background-color: #E0CDA5;
}

.background-color-button-two {
    background-color: #7D0293;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.small-size {
    font-size: 1.2rem;
}

.medium-size {
    font-size: 1.8rem;
}

.large-size {
    font-size: 2.4rem;
}

.adaptative-size {
    font-size: 1.6rem;
}

.text-bold {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-decoration-none {
    text-decoration: none;
}

// BORDER

.border-radius {
    border-radius: 2rem;
}

.border-bottom-beige {
    border-bottom: 0.1rem solid #E0CDA5;
}

.border-beige {
    border: 0.5rem solid #E0CDA5;
}

.border-green {
    border: 0.5rem solid green;
    border-radius: 1rem;
}

// TABLES

.table-container {
    max-width: 95%;
    overflow-x: scroll;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 2rem 0;
    text-align: center;
}

thead {
    background-color: #F1F1F1;
    color: #E0CDA5;
}

thead th {
    padding: 0.25rem;
    border: 0.1rem solid #E0CDA5;
}

tbody {
    background-color: #E0CDA5;
}

tbody tr:nth-child(even) {
    background-color: #f4f0e0;
}

tbody td {
    padding: 0.25rem;
    border: 0.1rem solid #37332A;
}

tr:hover {
    background-color: #d4c495;
}

td {
    color: #37332A;
}

// BOUTONS 

button {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.shadow-box {
    box-shadow: 0.4rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.1);
}

.signin-button {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    border: 0.3rem solid #7D0293;
    border-radius: 1.8rem;
    background-color: #E0CDA5;
    color: #37332A;
    transition: all 0.5s linear
}

.signin-button:hover {
    background-color: #37332A;
    color: #E0CDA5;
    border-color: #ffffff;
}


@media screen and (min-width: 540px) {

    .adaptative-size {
        font-size: 1.8rem;
    }

    .adaptative-padding {
        padding: 1.5rem;
    }

    .adaptative-margin {
        margin: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {

    .adaptative-size {
        font-size: 2rem;
    }

    .adaptative-padding {
        padding: 1.5rem;
    }

    .adaptative-margin {
        margin: 1.5rem;
    }
}