<section class="flex flex-column flex-align-center">
    <button [routerLink]="['/forms']" class="margin-vertical"> <i
            class="fa-solid fa-arrow-left-long margin-right"></i>Revenir aux quizs</button>

    <h2 class="medium-size  text-color-purple text-center margin-vertical">{{form.name}}</h2>
    <form (ngSubmit)="onSubmit()" class="container flex flex-column flex-align-center">
        @for(question of questions; track question ; let index =$index){
        <h3 class="medium-size text-color-beige margin">{{question}}
        </h3>

        <div class="flex flex-column flex-align-left margin">
            <div>
                <input required [(ngModel)]="answer[index]" type="radio" [id]="topicA[index]" [name]="topicA[index]"
                    value="1" (ngModelChange)="verifyAnswerLength()">
                <label class="text-color-white medium-size small-margin-left" [for]="topicA[index]">{{ topicA[index]
                    }}</label>
            </div>
            <div>
                <input [(ngModel)]="answer[index]" type="radio" [id]="topicB[index]" [name]="topicB[index]" value="0"
                    (ngModelChange)="verifyAnswerLength()">
                <label class="text-color-white medium-size small-margin-left" [for]="topicB[index]">{{ topicB[index]
                    }}</label>
            </div>
            <div>
                <input [(ngModel)]="answer[index]" type="radio" [id]="topicC[index]" [name]="topicC[index]" value="-1"
                    (ngModelChange)="verifyAnswerLength()">
                <label class="text-color-white medium-size small-margin-left" [for]="topicC[index]">{{ topicC[index]
                    }}</label>
            </div>
        </div>
        }

        <div class="flex flex-justify-center margin-vertical">
            <button [disabled]="!isVerified" class="text-uppercase text-bold"
                aria-label="Bouton pour envoyer le résultat de votre formulaire" type="submit">Envoyer le
                résultat</button>
        </div>
    </form>
</section>